<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frent.nobos.stratApex">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.ApexStratApp">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.RouletteGUI"
            android:parentActivityName=".views.MainActivity"/>
        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-7542723422099323~9376703436"
            android:value="ca-app-pub-7542723422099323/4563645866"/>
    </application>

</manifest>

